html {
	background-color: #111827;
	color: #dddddd;
}

body {
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Raleway', sans-serif;
}

.highlight {
	color: cyan;
}

a {
	color: midnightblue;
}
